body {
    background-color:darkgray;
    color:#CFDCE3;
}
h1{
    font-weight:normal;
}
td{
    vertical-align:top;
    padding: 5px 20px 5px 0;
}
td:first-child{
    color:#EDF6FA;
    font-style:italic;
}
.alert{
    font-weight:bold;
    color:red;
}

a {
    color: white;
    text-decoration: none;
}
#status{
    color:orange
}
.circle {
    background: #C5EDE1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}